@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

:root {
    --background-image: linear-gradient(to bottom, #135589, #487da5, #7ba7c0, #c2d6df, #edfafd);
    --color-primary: #135589;
    --color-secondary: #aed9da;
    --color-tertiary: #edfafd;
    --boton-padding: 20px 40px;
}

body {
    font-family: 'Comic Neue', cursive;
    background: var(--color-tertiary);
}

hr {
    border: 1px var(--color-primary) solid;
    background-color: var(--color-secondary);
    height: 10px;
    margin-left: 0;
    width: 70%;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;
}

.subtitle {
    color: var(--color-primary);
    font-size: 40px;
    margin-bottom: 35px;
}

.hero {
    height: 70vh;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero .container {
    padding: 0;
}

.nav {
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;
}

.nav-footer {
    font-weight: 300;
    justify-content: flex-start;
    height: max-content;
}

.nav_items {
    color: var(--color-tertiary);
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}

.nav_items-cta {
    border: 1px var(--color-tertiary) solid;
}

.nav_items-footer {
    padding: 10px;
}

.hero_container {
    display: flex;
    height: calc(70vh - 70px);
    align-items: center;
    color: var(--color-tertiary);
}

.hero_texts {
    width: 80%;
    margin-bottom: 50px;
}

.hero_title {
    font-size: 3.2rem;
}

.hero_subtitle {
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
}

.hero_cta {
    display: inline-block;
    background: var(--color-tertiary);
    padding: var(--boton-padding);
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 40px;
}

.hero_wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

/* About */
.presentation {
    display: flex;
    background: #fff;
    border-top: 1px var(--color-primary) solid;
    border-bottom: 1px var(--color-primary) solid;
    margin: 80px auto;
    width: 90%;
    max-width: 100%;
    justify-content: space-between;
    padding: 30px 0;
}

.presentation_container {
    text-align: center;
}

.presentation_picture {
    width: 10%;
}

.presentation_copy{
    width: 70%;
    margin: 0 auto;
    font-size: 400;
}

.presentation_cta{
    display: inline-block;
    margin-top: 30px;
    background: var(--color-primary);
    color: var(--color-tertiary);
    text-decoration: none;
    padding: var(--boton-padding);
    border-radius: 40px;
}

.about{
    min-height: 400px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 80px;
}

.about_imgs-left{
    text-align: center;
}

.about_container-skills{
    width: 90%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    border: 1px var(--color-primary) solid;
    background: var(--color-secondary);
    justify-items: center;
    align-items: center;
}

.about_subtitle{
    position: absolute;
    top: -35px;
    left: 20px;
    background: #fff;
    border: 1px var(--color-primary) solid;
    width: max-content;
    padding: 10px;
}

.about_paragraph{
    margin-bottom: 20px;
    padding: 0 50px;
    line-height: 1.5;
    font-weight: 300;
}

.about_imgs{
    max-height: 80%;
    margin: 0;
}

.about_pictures{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.about_pictures-item{
    max-width: 50%;
    margin: auto;
}

.about_container-works{
    width: 90%;
    position: relative;
    margin-left: 10%;
    margin-right: 0%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    border: 1px var(--color-primary) solid;
    background: var(--color-secondary);
    justify-items: center;
    align-items: center;
}

.about_picture{
    max-width: 80%;
    padding: 10px;
}

.about_subtitle-works{
    position: absolute;
    top: -35px;
    right: 30px;
    background: #fff;
    border: 1px var(--color-primary) solid;
    width: max-content;
    padding: 10px;
}

/*Proyectos*/
.projects{
    padding: 0;
}

.projects_grid{
    display: grid; 
    height: 800px;
    grid-template-areas: 
    "img1 img1"
    "img2 img4"
    "img3 img4";
    gap: 20px;  
}

.projects_item{
    border: 1px var(--color-primary) solid;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.projects_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.projects_item:nth-of-type(1){
    grid-area: img1;
}

.projects_item:nth-of-type(2){
    grid-area: img2;
}

.projects_item:nth-of-type(3){
    grid-area: img3;
}

.projects_item:nth-of-type(4){
    grid-area: img4;
}

.projects_hover{
    position: absolute;
    background: #1355898c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--color-tertiary);
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.projects_item:hover .projects_hover{
    transform: translateX(0%);
}

.projects_icon{
   margin-top: 10px;
   font-size: 30px; 
}

/*footer*/
.footer{
    background: #1355898c;
    height: 100px;
    margin-top: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.footer_grid{
    display:grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 20px;
    align-items: center;
    padding: 0;
    height: 50px;
}

.footer_title{
    font-weight: 400;
    color: var(--color-tertiary);
    font-size: 1rem;
    text-align: center;
    align-self: center;
}

.footer_contact{
    display: flex;
    justify-content: space-evenly;
}

.footer_icons{
    display: flex;
    align-items: center;
}
.footer_container-icons{
    display: inline-block;
    width: 30px;
    height: 30px;
    color: var(--color-tertiary);
    text-align: center;
    border: 1px solid var(--color-tertiary);
    border-radius: 50%;
    margin: 10px;
}

.footer_icon{
    color: inherit;
    font-size: 15px;
    text-decoration: none;
}

.fa-brands.footer_icon{
    line-height: 30px;
}

.footer_buttom{
    height: 50px;
    background: var(--color-primary);
    text-align: center;
    line-height: 50px;
    color: var(--color-tertiary);
}
.footer_buttom a{
    text-decoration: none;
    color: inherit;
}

/*Responsive Desing*/
@media screen and (max-width: 800px) {
    :root{
        --boton-padding: 20px 40px;
    }
    .nav{
        justify-content: space-around;
    }
    .nav_items-cta{
        border: none;
    }
    .nav_items{
        font-weight: 400;
        font-size: 0.7rem;
        border-bottom: 1px solid var(--color-tertiary);
    }
    .nav_items-footer{
        border: none;
    }
    .hero_texts{
        width: 100%;
        margin-bottom: 80px;
    }
    .hero_title{
        font-size: 1.8rem;
    }
    .hero_subtitle{
        font-size: 1.5rem;
    }
    /*about*/
    
    .presentation{
        width: 100%;
        margin: 80px 0 10px 0;
        display: grid;
        grid-template-columns: 1fr;
    }
    .presentation_picture{
        display: none;
    }
    .subtitle{
        font-size: 1.5rem;
    }
    .about_container-skills, .about_container-works{
        grid-template-columns: 1fr;
    }
    .about.container{
        padding: 40px 0;
    }
    /*footer*/
    .footer{
        height: 150px;
    }
    .footer_grid{
        grid-template-columns: 1fr;
        height: 100px;
    }
}

/*
background-image: linear-gradient(to bottom, #135589, #487da5, #7ba7c0, #b2d0dd, #edfafd);
*/